<%- include ('head') %>
<title>Add a movie - My website</title>
<h1>Add a new movie</h1>

<form action="/detail" method="POST">
    <fieldset>
        <legend>Wie ben jij?</legend>
        <label for="title">Title?</label>
        <input name="title" type="text">

        <label for="plot">Plot?</label>
        <input name="plot" type="text">

        <label for="description">Description?</label>
        <input name="description" type="text">
        
        <button>Add</button>
    </fieldset>
</form>
