<form method="POST" action="../index.js">
    <fieldset>
        <legend>Wie ben jij?</legend>
        <label for="leeftijd">Hoe oud ben je?</label>
        <input type="number" required>

        <label for="woonplaats">Waar woon je?</label>
        <input type="text" placeholder="Plaatsnaam" required>

        <label for="leeftijd">Wat is je e-mail?</label>
        <input type="text" placeholder="E-mailadres" required>
    </fieldset>
</form>



