<%- include ('head') %>
<title>Add a movie - My website</title>
<h1>Add a new movie</h1>
<form action="../index.js" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Wie ben jij?</legend>
        <label for="leeftijd">Title?</label>
        <input name= 'title' type="text">

        <label for="woonplaats">Plot?</label>
        <input name= 'plot'  type="text">

        <label for="leeftijd">Description?</label>
        <input name= 'description' type="text">
        
        <button>Add</button>
    </fieldset>
</form>



