<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://use.typekit.net/gpp7dbn.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap:300,400,700" rel="stylesheet">
</head>

<body>

    <div class="wrapper">

    <!-- header -->
    <h1>Hey!</h1>
    <!-- logo -->
    <img src="" alt="">

    <!-- main -->

    <!-- inloggen met inloggegevens -->
    <form class="inlog" action="" method="POST">
        <fieldset>
            <legend>Inloggen</legend>
            <label for="gebruikersnaam">Gebruikersnaam</label>
            <input type="text" required>

            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" required>

            <button type="submit">Login</button>
        </fieldset>
    </form>
    <p><a class="passwordforgot" href="">Wachtwoord vergeten?</a></p>

    <div class="line"></div>

    <h2>Nog geen account?</h2>
    <!-- Mag dit? OF button met js doorlinken nr next page? -->
    <p><a class="registreer" href="registreer_p1.html" >Registreer</a></p>


</div>

    <!-- footer -->

</body>

</html>