<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('head') %>
        <title>Home</title>
    </head>

<body>
    <div class="wrapper">

    <header>
        <h1>Hey!</h1>
    </header>     

    <main>
    <!-- inloggen met inloggegevens -->
    <form class="inlog" action="" method="POST">
        <fieldset>
            <legend>Inloggen</legend>
            <label for="gebruikersnaam">Gebruikersnaam</label>
            <input type="text" required>

            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" required>

            <button type="submit">Login</button>
        </fieldset>
    </form>
    <p><a class="passwordforgot" href="">Wachtwoord vergeten?</a></p>

    <div class="line"></div>

    <h2>Nog geen account?</h2>
    <!-- Mag dit? OF button met js doorlinken nr next page? -->
    <p><a class="registreer" href="registreer_p1.html" >Registreer</a></p>
</main>

</div>

<% include('tail') %>

</body>

</html>