<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('head') %>
        <title>Register-page-3</title>
    </head>

<body>
    <div class="wrapper">

    <header>   
        <h1>Hoe zie je eruit?</h1>
    </header> 

    <main> 
        <div class="optionphoto">
            <label class="fileContainer" for=""></label>
                  <img src="../static/img/gallery.png" alt="">
                  <p>Upload foto</p>
                  <input class="file" type="file" name="photo" accept="image/*;capture=camera">
             </label>
        </div>

    <!-- choosen photo -->
    <img class="renderedphoto" src=" " alt="foto1">
    
    <p><a class="back" href="registreer_p2">Back</a></p>

    <p><a class="next" href="registreer_p4">Next</a></p>
    
    </main>

</div>

<% include('tail') %>

</body>

</html>