<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('head') %>
    <title>Register-page-1</title>
</head>

<body>
    <div class="wrapper">

    <header>
         <h1>Welkom</h1>
         <h2 class="ondertitel">Wij zijn benieuwd wie je bent.</h2>
    </header>

    <main>

    <!-- gegevens -->
    <!-- <form action="registrate" method="POST">
        <fieldset class="p1">
            <legend>Wie ben jij?</legend>
            <label for="firstName">Ik ben</label>
            <input class="firsttype" type="text" name="firstName" placeholder="Voornaam" required>

            
            <label for="gender">en ben een</label>

            <input type="radio" name="gender" value="man" checked="checked" required>
            <label class="man" for="man">Man</label>
            <span class="checkmark"></span>


            <input type="radio" name="gender" value="vrouw" required>
            <label for="vrouw">Vrouw</label>
            <span class="checkmark"></span>


            <input type="radio" name="gender" value="beide" required>
            <label for="beide">Beide</label>
            <span class="checkmark"></span>


            
            <label for="searchSex">en ben op zoek naar een</label>

            <input type="radio" name="searchSex" value="man" checked="checked" required>
            <label for="man">Man</label>
            <span class="checkmark"></span>


            <input type="radio" name="searchSex" value="vrouw" required>
            <label for="vrouw">Vrouw</label>
            <span class="checkmark"></span>


            <input type="radio" name="searchSex" value="beide" required>
            <label for="beide">Beide</label>
            <span class="checkmark"></span>

            <legend>Wie ben jij?</legend>
            <label for="age">Hoe oud ben je?</label>
            <input type="number" name="age" placeholder="Leeftijd" required>

            <label for="hometown">Waar woon je?</label>
            <input type="text" name="hometown" placeholder="Plaatsnaam" required>

            <label for="email">Wat is je e-mail?</label>
            <input type="text" name="email" placeholder="E-mailadres" required>

            <label for="password">password</label>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit"> Add</button>
            
        </fieldset>
    </form>
    
    <div class="buttons">
        <a class="back" href="/">Back</a>
        <a class="next" href="registreer_p2">Next</a>
    </div> -->


    <form class="registratepage" action="registrate" method="POST" enctype="multipart/form-data">
        <fieldset>
            <label for="firstName">Ik ben</label>
            <input class="firsttype" type="text" name="firstName" placeholder="Voornaam" required>

            <label for="gender">en ben een</label>

            <input type="radio" name="gender" value="man" checked="checked" required>
            <label class="man" for="man">Man</label>


            <input type="radio" name="gender" value="vrouw" required>
            <label class="vrouw" for="vrouw">Vrouw</label>


            <input type="radio" name="gender" value="beide" required>
            <label class="beide" for="beide">Beide</label>


            
            <label for="searchSex">en ben op zoek naar een</label>

            <input type="radio" name="searchSex" value="man" checked="checked" required>
            <label class="man" for="man">Man</label>


            <input type="radio" name="searchSex" value="vrouw" required>
            <label class="vrouw" for="vrouw">Vrouw</label>


            <input type="radio" name="searchSex" value="beide" required>
            <label class="beide" for="beide">Beide</label>
        </fieldset>


        <fieldset>
            <label for="age">Hoe oud ben je?</label>
            <input type="number" name="age" placeholder="Leeftijd" required>

            <label for="hometown">Waar woon je?</label>
            <input type="text" name="hometown" placeholder="Plaatsnaam" required>

            <label for="email">Wat is je e-mail?</label>
            <input type="text" name="email" placeholder="E-mailadres" required>
            
            <label for="password">Maak een wachtwoord aan</label>
            <input type="password" name="password" placeholder="Wachtwoord" required>
        </fieldset>


        <fieldset>
          <div class="optionphoto">
            <label class="fileContainer" for="">
                <input class="file" type="file" name="photo" accept="image/*;capture=camera">
                <img src="../static/img/gallery.png" alt="">
                <p>Upload foto</p>
            </label>
          </div>  
            <img class="renderedphoto" src=" " alt="foto1">

        </fieldset>

        <button class="back" name="back">Terug</button>
        <button class="next" name="next">Verder</button>

        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </form>


    <!-- <p><a class="back" href="/">Back</a></p>

    <p><a class="next" href="registreer_p2">Next</a></p> -->

    </main>

</div>
    <%- include ('tail.ejs') %>
 
</body>

</html>