<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('head') %>
        <title>Register-page-2</title>
    </head>

<body>    
    <div class="wrapper">

    <header>
        <h1>Welkom</h1>
        <h2 class="ondertitel">Wij zijn benieuwd wie je bent.</h2>
    </header>   

    <main>
    <!-- gegevens -->
    <form class="p2" action="" method="POST">
        <fieldset>
            <legend>Wie ben jij?</legend>
            <label for="age">Ik ben (leeftijd)</label>
            <input type="number" placeholder="Leeftijd" required>

            <label for="hometown">Ik woon in</label>
            <input type="text" placeholder="Plaatsnaam" required>

            <label for="email">Mijn e-mail is</label>
            <input type="text" placeholder="E-mailadres" required>
            
        </fieldset>
    </form>
    <p><a class="back" href="registreer_p1">Back</a></p>

    <p><a class="next" href="registreer_p3">Next</a></p>

    </main>
</div>

<% include('tail') %>

</body>

</html>