<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include ('head') %>
        <title>Register-page-4</title>
    </head>

<body>
    <div class="wrapper">

    <header>
        <h1>Gefeliciteerd!</h1>
        <h1 class="lid" >Je bent nu lid van </h1>
    </header>
    
    <main>
    <!--logo -->
    <img class="logo" src="../static/img/logo-techv3.png" alt="">

    <!-- de 'begin' knop om de app te exploren -->
    <h4>duik in de wereld van "Feel the Match!"</h4>
    
    <p><a class="back" href="registreer_p3">Back</a></p>

    <p><a class="begin" href="succes">Begin</a></p>

    </main>

</div>

<% include('tail') %>

</body>

</html>