<!DOCTYPE html>
<%- include ('head') %>

<head></head>

<body>
    <main>
        <h1>Het is gelukt! </h1>
        <p>U wordt automatisch gestuurd naar de app in 3 seconden...</p>
    </main>

    <footer>

    </footer>
</body>

</html>
