/* Mobile first */

* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    background-color: white;
    font-family: omnes-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    padding: 10px;
    background-image: url("../img/backgroundmobile3.jpg");
    background-repeat: no-repeat;

}

/* iPad Body */
@media only screen and (min-width: 400px) {
    body {
        background-image: url("../img/background2.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        /* background-color: red; */

        /* width: 100vw; */
    }
}

/* Desktop Body */
@media only screen and (min-width: 600px) {
    body {
        background-image: url("../img/background2.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        /* background-color: red; */

        /* width: 100vw; */
    }
}

main{
    height: 100%;
}


h1 {
    text-align: center;
    font-weight: 500;
}

h4{
    margin-bottom: 20px;
}

.lid{
    max-width: 60%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-family: omnes-pro, sans-serif;
    font-weight: 500;
}

.ondertitel {
    font-family: omnes-pro, sans-serif;
    font-weight: normal;
    margin-top: 10px;
}

.wrapper{
    position: relative;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: remy(320px);
    background: #fff;
    box-shadow: 3px 3px 32px rgba(0, 0, 0, 0.25);
    perspective: 1000;
    height: 100%;
    border-radius: 5px;
    /* padding-bottom: 152px */
}

/* source: https://blog.alexdevero.com/flipping-login-signup-form-css/ */

form {
    margin: 10px 0px;
    height: 80%;
}

/* form.inlog{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;

}
form.inlog label, input{
    transition: all 0.2s;
    touch-action: manipulation;

}

form.inlog input{
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}
form.inlog input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
form.inlog label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

form.inlog input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  } */


fieldset {
    border: none;
    display: flex;
    text-align: center;
}



fieldset.p1{
    border: none;
    display: flex;
    text-align: left;
    display: flex;
}

fieldset.p1 input::placeholder{
    color: rgba(92, 92, 92, 0.5);
}

legend{
    display: none;
}

label:first-child, label:nth-child(2), label:nth-child(3), label:nth-child(4), label:nth-child(5), label:nth-child(14){
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Kalam';
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
}

/* .p1 label:nth-child(3), label:nth-child(4), label:nth-child(5) */

input[type="radio"].toggle {
  display: none;
}


form.p2 fieldset label{
    max-width: 70%;
    text-align: center;
    /* background: red; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px 10px 0px;
    padding: 50px 0px 5px 0px;
    border: 1px solid transparent;
    /* border-bottom: 1px solid #FD2755; */
    font-size: 1.7rem;
    cursor: pointer;
    /* font-family:omnes-pro, sans-serif; */
    font-weight: 200;
    margin: 0 auto;
    /* margin:10px 0px; */
    
}
form.p2 fieldset label:nth-child(6){
    max-width: 70%;
    text-align: center;
    /* background: red; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0px 10px 0px;
    padding: 50px 0px 5px 0px;
    border: 1px solid transparent;
    /* border-bottom: 1px solid #FD2755; */
    font-size: 1.7rem;
    cursor: pointer;
    font-family:'Kalam';
    font-weight: 200;
    margin: 0 auto;
    /* margin:10px 0px; */
    
}




form fieldset input{
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background: transparent;
    border: none;
    border: 1px solid transparent;
    padding: 5px 0px 5px 5px;
    border-bottom: 1px solid #FD2755;
    font-size: 1rem;
}
form fieldset.p1 {
    margin: 0px 20px;
}   

form fieldset.p1 .firsttype{
    text-align: left;
    /* background: blue; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 5px 50px 10px 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid #FD2755;
    font-size: 1rem;
    cursor: pointer;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

/* .checkmark {
    top: 30;
    left: 30;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
} */

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the radio button is checked, add a blue background */
  /* .container input:checked ~ .checkmark {
    background-color: #2196F3;
  } */
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
   */
  /* Show the indicator (dot/circle) when checked */
  /* .container input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the indicator (dot/circle) */
  /* .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
 */





form fieldset.p1 input[type="radio"]{
  position: absolute;
  opacity: 20;
  cursor: pointer;
  height: 25px;
  width: 21px;
  background-color: red;
  margin-left: 50px;
}
form fieldset.p1 input[type="radio"]:focus{
   box-shadow: none;
  }

/* //absolute moet weg */

 















form.p2 fieldset input{
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0; */
    padding: 5px 50px 10px 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid #FD2755;
    font-size: 1rem;
    cursor: pointer;
    
}


form.p2 fieldset input:focus{
    border: 1px solid #FD2755;
    outline: none;
    transition: ease-in-out 0.3s;
    box-shadow: 3px 3px 5px grey;
}

form.p2 fieldset input::placeholder{
    color: rgba(92, 92, 92, 0.5);
}

/* pseudo class voor interactie */
form input:focus{
    border: 1px solid #FD2755;
    outline: none;
    transition: ease-in-out 0.3s;
    box-shadow: 3px 3px 5px grey;

}

form input.firsttype:focus{
    border: 1px solid #FD2755;
    outline: none;
    transition: ease-in-out 0.3s;
}

@media only screen and (min-width: 600px) {
    .wrapper{
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        width: 100%;
        padding: 0px 10px;
    }

    form{
        width: 30%;
        height: 50%;
    }
    form.p2{
        display: flex;
    }
    form.p2 fieldset {
        margin-left: 68%;
        width: 30%;
        text-align: left;
        /* background: blue; */
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        /* margin: 0; */
        padding: 5px 50px 10px 5px;
        /* border: 1px solid black; */
        border-radius:10px;
        box-shadow:  3px 3px 3px 3px #ccc;
        /* 0 2px 7px 0 rgba(0,0,0,0.2) */
        background: white;
        font-size: 1rem;
        cursor: pointer;
    } 
    


}



button{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    width: 50%;
    border-radius: 8px;
    border: none;
    box-shadow: 3px 3px 5px grey;
    background-color: #FA2760;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: omnes-pro, sans-serif;
}

a {
    font-size: 1rem;
}

.line{
    border-bottom: 1px grey;
    width: 50px;
}


h2{
    font-family: 'Kalam';
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 50px;
}


.optionphoto{
display: flex;
max-width: 90%;
border-radius: 10px;
text-align: center;
margin:auto;
box-shadow: 3px 3px 10px grey;

}

.optionphoto input[type="file"]{
    /* border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer; */

    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 3px solid red ;
    /* #999; */
    border-radius: 3px;
    padding: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 50%;
    margin: 30px 0px;
    padding: 0px;
    
}


.optionphoto img, .optionphoto p{
    flex-wrap: wrap;
    justify-content: start;
}

.optionphoto img{
    width: 20%;
    height: 20%;
}

.optionphoto p{
    width: 92%;
    font-size: 1.5rem;
    font-weight: 300;
    margin: auto;
}

ol{
    max-width: 100%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: rgba(139, 75, 75, 0.1);
    flex-wrap: wrap;
    min-width: 50%;
    text-align: center;
    border-radius: 23px;

}

ol li{
    min-width: 25%;
    width: 10px;
    height: 10px;
    list-style-type: none;
    color:blue;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid red;
    padding: 48px;
    margin: 8px;
    border-radius: 10px;

 }

p a{
    margin-bottom: 100px;
}
.passwordforgot{
font-size: 1.2rem;
/* text-decoration:red; */
}

.registreer{
    background-color: #FA4E69;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
    width: 50%;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    box-shadow: 3px 3px 5px grey;

}
/* p{
    margin: 0;
    padding: 0;
    display: inline;
} */

.buttons{
    margin: 0;
    padding: 0;
    display: inline;
}

a.back, a.next{
    background-color: #FA4E69;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    width: 20%;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    box-shadow: 3px 3px 5px grey;
    margin: 25px 50px 6px 50px;
}

a.next, a.back{
display: inline-block;
}

a.back{
    background-color: rgb(250, 116, 136);

}

a.begin{
    background-color: #FA4E69;
    border-radius: 10px;
    margin: 1000px 50px;
    padding: 10px;
    /* width: 50%; */
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    box-shadow: 3px 3px 5px grey;
    /* display: inline; */
}


.logo{
    width: 80%;
    margin: 0px;
    margin-bottom: 30px;

}





/* iPad///Desktop Body
@media only screen and (min-width: 600px) {
    body {
        background-color: white;
        width: 100vw;
    }
}
 */


/* Header */
header{

}

/* Nav */
header nav{

}

/* User */



/* div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    margin: 0px;
    max-width: 200px;
    padding: 10px;
    border: 2px dotted green;
}

div a{
    text-decoration: none;
    cursor: pointer;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: blue;
    width: 50%;
    
}

div a section {
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    padding: 0px 0px;
    border: 1px solid red;
    width: 200px;
    max-width: 200px;
    background-color: grey;
}

div a section h3,ul{
    text-decoration: rgb(154, 100, 182);
}

div a section img{
    width: 50%;
    height: 50%;
    margin-right: 0px;
}



/* naam op user profile */
/* h2{
    margin-top: 20px;
}

.fotoprofiel{
    width: 70%;
    height: 70%;  
    text-align: center; 
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto;
}

ol{
background-color: darkorchid;
margin-top: 20px;
} */ 